@media all and (max-width:620px){
	header nav{
/*		height: 40px;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	header  .button-box{
/*		width: 40%;*/
		flex: 1;
	}

	header .button-box button{
		width: 100%;
	}

	#search-box input{

		flex: 1;
	}

	#search-box{

		width: 100%;
	}

	header .text{
		display: none;
	}


	body main#app{
		width: 93%;
	}

	table .tr-state{
		overflow: hidden;
		display: block;
		width: 1vw;
/*		background-color: blue;*/
	}


} 





@media all and (max-width:580px) {

	#main-data nav{
		flex-direction: column;
	}

	#main-data .info-box{
		height: unset;
	}



}





@media all and (min-width:580px) and  (max-width:900px) {

	#app{
		width: 92%;
	}

	#main-data{
		padding-left: 4px;
		padding-right: 4px;
		margin: auto 0;
		width: 97%;
	}


	#main-data .info-box{
		height: 46px;
	}

	header .text{
		display: none;
	}

	header nav{
/*		height: 40px;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	header  .button-box{
/*		width: 40%;*/
		flex: 1;
	}

	header .button-box button{
		width: 100%;
	}

	#search-box input{

		flex: 1;
	}

	#search-box{

		width: 100%;
	}

	main{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	


	.info-box#info-protected-money{
		display: none;
	}


}


@media all and (max-width:620px){
	.info-box *{
		font-size: 88%;
	}

	#contacts-list nav button{
		padding: 8px 5px;
	}

	.contact p{
		font-size: .95rem;
	}



}


@media all and (max-width:450px){
	.contact button .text{
		display: none;
	}

	.contact button{
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
	}
}




@media all and (max-width:900px){

	#transactions-list tr:hover{
		box-shadow: unset;
	}

	#transactions-list td{
		padding-right: 2px;
	}


	#transactions-list td:last-child{
		padding-right: 0px;
	}

	td.tr-state{
		padding-right: 0;
	}
	
	td.tr-state p{
		padding: 2px;
	}

	#transactions-list tr{
		font-size: .95rem;
	}

	.data-page{
		width: 83%;
	}

	section.data-page{
		padding: 3%;
	}

	#true-title{
		margin: auto;
		width: fit-content;
	}

	#true-title *{
		width: auto;
		width: fit-content;
	}


	footer{
		padding: 8px 4px;
		width: 94%;
	}

	footer p{
		font-size: 1.12rem;
		margin:4px 1px;
	}


}